.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: #1FA104;
    padding-top: 28px;
    position: sticky; /* Set position to fixed */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.sidenav.open{
    width: 250px;
}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
 
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
 
.linkText {
    padding-left: 16px;
    transition: 0.3s;
}
 
.linkTextClosed {
    composes: linkText;
    visibility: hidden;
    transition: width 0.3s ease-in-out;
}
 
.sideitem:hover {
    background-color: #244f7d1c;

}
 
.menuBtn {
    align-self: center;
    align-self: flex-start; 
    justify-self: flex-end;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    transition: 0.3s;
}


.content {
    margin-left: 250px; /* Initial margin for content */
    transition: margin-left 0.3s ease-in-out; /* Smooth transition */
}

.sidenav.closed + .content {
    margin-left: 60px; /* Adjusted margin when the sidebar is closed */
}